# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# База данных (локальная)
app.db

# Переменные окружения (ключ передаётся через docker-compose)
.env